<a href="/maps/nav.map"><img src="/images/navbar.gif" ismap></a>
<button id="empty"></button>

<button id="val" value="Button Name"></button>

<button id="alempty" aria-label=""></button>

<button id="albmissing" aria-labelledby="nonexistent"></button>

<button id="albempty" aria-labelledby="emptydiv"></button>
<div id="emptydiv"></div>

<button id="buttonvalue" value="foo" tabindex="-1"></button>
<img src="line.jpg" alt="">

<meta http-equiv="refresh" content="10" url="http://www.yourdomain.com/index.html">

<img>
<input type="image">

<div>
    <strong>My input field</strong>
    <input type="text">

    <textarea></textarea>

    <select>
        <option>Option</option>
    </select>
</div>

<!-- unassociated label -->
<div>
    <label>My input field</label>
    <input type="text">
</div>

<a><img src="cat.gif"></a>

<a href="#">
	<svg></svg>
</a>

<button type="button"></button>

<form>
    <label>
        Text field: <input type="text">
    </label>
</form>

<th></th>

<img title="Lorem ipsum">

<input type="hidden" aria-label="foobar">



